<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="methodSelect" class="form-label">Selecciona Método</label>
    <select id="methodSelect" formControlName="methodId" class="form-select enhanced-input">
      <option value="" disabled>- Elige uno -</option>
      <option *ngFor="let m of methods" [value]="m.id">
        {{ m.name }}
      </option>
    </select>
    <div *ngIf="form.get('methodId')?.touched && form.get('methodId')?.invalid" class="text-danger">
      Debes seleccionar un método.
    </div>
  </div>

  <div *ngIf="loading">Eliminando...</div>
  <div *ngIf="error" class="text-danger">{{ error }}</div>

  <button class="btn btn-danger" [disabled]="loading">Eliminar Método</button>
</form>