<div class="container mt-4">
    <h2 class="mb-4">Create Attribute</h2>

    <app-form [form]="createAttributeForm" (atSubmit)="onSubmit()">

        <app-form-input
                [form]="createAttributeForm"
                controlName="name"
                [reserve]="'Attribute Name'"
                [name]="'Name'"
                [tag]="'Name'"
                [errorMessages]="{ required: 'El nombre es requerido.' }"
                [type]="'text'">
        </app-form-input>

        <div class="form-group mb-3">
      <label for="dataTypeId">Select Data Type</label>
      <select
        class="form-control"
        formControlName="dataTypeId"
        [ngClass]="{
          'is-invalid': createAttributeForm.get('dataTypeId')?.invalid && createAttributeForm.get('dataTypeId')?.touched
        }"
      >
        <option value="" disabled>Select a data type</option>
        <option *ngFor="let dt of availableDataTypes" [value]="dt.value">
          {{ dt.tag }}
        </option>
      </select>
      <div class="invalid-feedback" *ngIf="createAttributeForm.get('dataTypeId')?.errors?.['required']">
        DataType is required.
      </div>
    </div>

        <app-form-input
                [form]="createAttributeForm"
                controlName="visibility"
                [reserve]="'Visibility of the attribute'"
                [name]="'Visibility'"
                [tag]="'Visibility'"
                [errorMessages]="{ required: 'The Visibility is required.' }"
                [type]="'option'"
                [options]="Visibilities">
        </app-form-input>

        <app-form-input
                [form]="createAttributeForm"
                controlName="isStatic"
                [reserve]="'Is the attribute static'"
                [name]="'isStatic'"
                [tag]="'isStatic'"
                [errorMessages]="{ required: 'Is Static is required.' }"
                [type]="'option'"
                [options]="Static">
        </app-form-input>

        <div class="form-group mb-3">
          <label for="classId">Select Class</label>
          <select
            class="form-control"
            [ngClass]="{
              'is-invalid': createAttributeForm.get('classId')?.invalid && createAttributeForm.get('classId')?.touched
            }"
            formControlName="classId"
          >
            <option value="" disabled>Select a class</option>
            <option *ngFor="let cls of availableClasses" [value]="cls.value">
              {{ cls.tag }}
            </option>
          </select>
          <div class="invalid-feedback" *ngIf="createAttributeForm.get('classId')?.errors?.['required']">
            Class is required.
          </div>
        </div>

        <div *ngIf="createAttributeStatus?.loading; else notLoading">
            Loading...
        </div>

        <ng-template #notLoading>
            <div *ngIf="createAttributeStatus?.error">
                {{ createAttributeStatus!.error }}
            </div>

            <app-form-button title="Create Attribute"></app-form-button>
        </ng-template>

    </app-form>
</div>