<div class="container mt-4">
  <h2 class="mb-4">{{ title || 'Create Attribute' }}</h2>

  <app-form [form]="createAttributeForm" (atSubmit)="onSubmit()">
    <app-form-input
      [form]="createAttributeForm"
      controlName="name"
      [reserve]="'Attribute Name'"
      [name]="'Name'"
      [tag]="'Name'"
      [errorMessages]="{ required: 'El nombre es requerido.' }"
      [type]="'text'">
    </app-form-input>

    <app-form-input
      [form]="createAttributeForm"
      controlName="visibility"
      [reserve]="'Visibility'"
      [name]="'Visibility'"
      [tag]="'Visibility'"
      [errorMessages]="{ required: 'Visibility is required.' }"
      [type]="'option'"
      [options]="Visibilities">
    </app-form-input>

    <app-form-input
      [form]="createAttributeForm"
      controlName="isStatic"
      [reserve]="'Static or Non-Static'"
      [name]="'isStatic'"
      [tag]="'Is Static'"
      [errorMessages]="{ required: 'Static flag is required.' }"
      [type]="'option'"
      [options]="Static">
    </app-form-input>

    <app-class-dropdown (selectClass)="onClassSelected($event)"></app-class-dropdown>
    <app-datatype-dropdown (selectDataType)="onDataTypeSelected($event)"></app-datatype-dropdown>

    <div *ngIf="createAttributeStatus?.loading; else notLoading">
      Loading...
    </div>

    <ng-template #notLoading>
      <div *ngIf="createAttributeStatus?.error">
        {{ createAttributeStatus!.error }}
      </div>
      <app-form-button title="Create Attribute"></app-form-button>
    </ng-template>
  </app-form>
</div>
