<div class ="container mt-4">
  <h2 class="mb-4">Crear Clase</h2>

  <app-form [form]="createClassForm" (atSubmit)="onSubmit()">

    <app-form-input
      [form]="createClassForm"
      controlName="Name"
      [reserve]="'Name of the class'"
      [name]="'Name'"
      [tag]="'Name'"
      [errorMessages]="{ required: 'The name is required.' }"
      [type]="'text'">
    </app-form-input>

    <app-form-input
      [form]="createClassForm"
      controlName="ClassType"
      [reserve]="'Class Type'"
      [name]="'ClassType'"
      [tag]="'Class Type'"
      [errorMessages]="{ required: 'The Class Type is required' }"
      [type]="'option'"
      [options]="ClassTypes">
    </app-form-input>

      <app-form-input
              [form]="createClassForm"
              controlName="ParentClassID"
              [reserve]="'ParentClassID'"
              [name]="'ParentClassID'"
              [tag]="'ParentClassID'"
              [type]="'text'">
      </app-form-input>

      <button type="button" (click)="showAddMethodForm()">Add Methods To Class</button>

      <app-create-method-form
              *ngIf="showMethodForm"
              [title]="'Method'"
              (atSubmit)="addMethod($event)">
      </app-create-method-form>

      <app-form-button title="Create Class"></app-form-button>

      <button type="button" (click)="showAddAttributeForm()">Add Attribute To Class</button>

      <app-create-attribute-form
              *ngIf="showAttributeForm"
              [title]="'Attribute'"
              (atSubmit)="addAttribute($event)">
      </app-create-attribute-form>

      <div *ngIf="attributes.length > 0">
          <h4>Added Attributes:</h4>
          <ul>
              <li *ngFor="let attr of attributes">
                  {{ attr.name }} - {{ attr.dataTypeID }} - {{ attr.visibility || attr.visibility }}
              </li>
          </ul>
      </div>

      <div *ngIf="createClassStatus?.loading; else notLoading">
          Loading...
      </div>

      <ng-template #notLoading>
          <div *ngIf="createClassStatus?.error">
              {{ createClassStatus!.error }}
          </div>
      </ng-template>

  </app-form>
</div>