.navbar-brand {
  font-weight: bold;
  font-size: 1.8rem;
  color: #fff;
}

.navbar-nav .nav-link {
  font-size: 1.1rem;
}

.dropdown-menu {
  background-color: #e9ecef;
}

.dropdown-item:hover {
  background-color: #cce5ff;
}
