<div class="container mt-4">
  <h2 class="mb-4">{{ title || 'Update Attribute' }}</h2>

  <app-form [form]="updateAttributeForm" (atSubmit)="onSubmit()">

    <app-form-input
      [form]="updateAttributeForm"
      controlName="name"
      [reserve]="'Attribute Name'"
      [name]="'name'"
      [tag]="'Name'"
      [errorMessages]="{ required: 'Name is required.' }"
      [type]="'text'">
    </app-form-input>

    <app-form-input
      [form]="updateAttributeForm"
      controlName="dataTypeId"
      [reserve]="'DataType ID'"
      [name]="'dataTypeId'"
      [tag]="'DataType'"
      [errorMessages]="{ required: 'DataType ID is required.' }"
      [type]="'text'">
    </app-form-input>

    <app-form-input
      [form]="updateAttributeForm"
      controlName="visibility"
      [reserve]="'Visibility'"
      [name]="'visibility'"
      [tag]="'Visibility'"
      [errorMessages]="{ required: 'Visibility is required.' }"
      [type]="'option'"
      [options]="visibilities">
    </app-form-input>

    <app-form-input
      [form]="updateAttributeForm"
      controlName="classId"
      [reserve]="'Class ID'"
      [name]="'classId'"
      [tag]="'Class ID'"
      [errorMessages]="{ required: 'Class ID is required.' }"
      [type]="'text'">
    </app-form-input>

    <app-form-input
      [form]="updateAttributeForm"
      controlName="isStatic"
      [reserve]="'Is Static'"
      [name]="'isStatic'"
      [tag]="'Static'"
      [type]="'option'">
    </app-form-input>

    <app-form-button title="Update Attribute"></app-form-button>

  </app-form>
</div>
