<div class="container mt-4">
    <h2 class="mb-4">Delete Class:</h2>

    <app-form [form]="deleteClassform" (atSubmit)="onSubmit()">

        <app-class-dropdown (selectClass)="updateClassId($event)">
        </app-class-dropdown>

        <app-form-button title="Delete"></app-form-button>

        <div *ngIf="deleteFormStatus?.loading; else notLoading">
            Loading...
        </div>

        <ng-template #notLoading>
            <div *ngIf="deleteFormStatus?.error">
                {{ deleteFormStatus!.error }}
            </div>
        </ng-template>

    </app-form>
</div>