<div class="container mt-4">
  <h2 class="mb-4">Update class name:</h2>

  <app-form [form]="form" (atSubmit)="onSubmit()">
    <app-class-dropdown (selectClass)="updateClassId($event)"></app-class-dropdown>

    <div class="mb-3">
      <label for="newName" class="form-label">New Name</label>
      <input
        type="text"
        id="newName"
        class="form-control"
        formControlName="newName"
        placeholder="Enter new class name"
      />
    </div>

    <app-form-button title="Update"></app-form-button>

    <div *ngIf="formStatus.loading">Loading...</div>
    <div *ngIf="formStatus.error">{{ formStatus.error }}</div>
  </app-form>
</div>