<div class="container mt-4">
  <h2 class="mb-4">Crear Método</h2>

    <app-form [form]="createMethodForm" (atSubmit)="onSubmit()">

        <app-form-input
          [form]="createMethodForm"
          controlName="name"
          [name]="'name'"
          label="Nombre"
          [errorMessages]="{ required: 'El nombre es requerido.' }"
          [type]="'text'"
          placeholder="Nombre del método">
        </app-form-input>

        <app-form-input
                [form]="createMethodForm"
                controlName="type.name"
                [name]="'typeName'"
                label="Tipo (name)"
                [errorMessages]="{ required: 'El tipo es requerido.' }"
                [type]="'text'"
                placeholder="Tipo del método">
        </app-form-input>

        </app-form>
</div>