<div class="container mt-4">
  <h2 class="mb-4">Crear Método</h2>

    <app-form [form]="createMethodForm" (atSubmit)="onSubmit()">

        <app-form-input
          [form]="createMethodForm"
          controlName="name"
          [name]="'name'"
          label="Nombre"
          [errorMessages]="{ required: 'El nombre es requerido.' }"
          [type]="'text'"
          placeholder="Nombre del método">
        </app-form-input>

        <app-form-input
                [form]="createMethodForm"
                controlName="typeId"
                [name]="'typeId'"
                label="Type ID"
                [errorMessages]="{ required: 'El tipo es requerido.' }"
                [type]="'text'"
                placeholder="Tipo del método">
        </app-form-input>

        <app-form-input
                [form]="createMethodForm"
                controlName="Class ID"
                [name]="'classId'"
                label="Class ID"
                [errorMessages]="{ required: 'El Id de la clase es requerido.' }"
                [type]="'text'"
                placeholder="Id de la clase del método">
        </app-form-input>

        <div *ngIf="createMethodStatus?.loading; else notLoading">
            Cargando...
        </div>

        <ng-template #notLoading>
            <div *ngIf="createMethodStatus?.error">
                {{ createMethodStatus!.error }}
            </div>

            <app-form-button title="Crear Metodo"></app-form-button>
        </ng-template>

        </app-form>
</div>