<div class="container mt-4">
  <h2 class="mb-4">Crear Método</h2>

    <app-form-create-method [form]="methodForm" (atSend)="onSubmit()">

        <app-form-input
          [methodForm]="methodForm"
          controlName="name"
          [name]="'name'"
          label="Nombre"
          [errorMessages]="{ required: 'El nombre es requerido.' }"
          [type]="'text'"
          placeholder="Nombre del método">
        </app-form-input>

        <app-form-input
          [methodForm]="methodForm"
          controlName="type.name"
          [name]="'typeName'"
          label="Tipo (name)"
          [errorMessages]="{ required: 'El tipo es requerido.' }"
          [type]="'text'"
          placeholder="Tipo del método">
        </app-form-input>

        <app-form-input
          [methodForm]="methodForm"
          controlName="type.type"
          [name]="'typeType'"
          label="Tipo (type)"
          [errorMessages]="{ required: 'El tipo es requerido.' }"
          [type]="'text'"
          placeholder="Tipo del método">
        </app-form-input>

        <app-form-select
          [methodForm]="methodForm"
          controlName="accessibility"
          label="Accesibilidad">
            <option value="Public">Public</option>
            <option value="Private">Private</option>
            <option value="Protected">Protected</option>
        </app-form-select>

</div>